body {
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  padding: 50px 8px;
}

@media screen and (min-width: 1020px) {
  .section {
    padding: 20px 100px 50px 100px;
  }
}
/* ----------------------NAV BAR-----------------*/
.navbar {
  color: aliceblue;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.navbar .nav-item {
  margin: 8px 16px;
  text-decoration: none;
  color: aliceblue;
}
.navbar .reg-btn {
  height: 45px;
  width: 99px;
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.594);
  border: 2px solid white;
  border-color: rgba(255, 255, 255, 0.411);
  border-radius: 1.5rem;
  margin: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: "Roboto";
}

@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
}
/* --------------- HERO ----------------- */
.hero {
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  color: bisque;
  justify-content: space-around;
}

.hero .left {
  /* background: rgb(137, 135, 135); */
  display: flex;
  justify-content: flex-end;
  flex: 2;
  padding: 20px;
}
.hero .left img {
  /* border-radius: 50%; */
  height: 400px;
  width: 450px;
}

.hero .right {
  /* background: rgb(113, 117, 129); */
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 0px 80px;
}

.hero .knowmore-btn {
  width: 200px;
  border: none;
  border-radius: 20px;
  height: 45px;
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.594);
  border: 2px solid white;
  border-color: rgba(255, 255, 255, 0.411);
  border-radius: 1.5rem;
  margin: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: "Roboto";
  letter-spacing: 3px;
}

@media screen and (max-width: 612px) {
  .hero {
    flex-direction: column;
  }
  .hero .left {
    justify-content: center;
  }
  .hero .left img {
    height: 200px;
    width: 200px;
  }
}

/* -------------ABOUT--------- */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e5e7eb;

  color: rgb(56, 43, 28);
}

.about p {
  max-width: 800px;
  text-align: center;
}

/* ---------CARDS-------- */
.cards {
  background: #e5e7eb;
  color: bisque;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ------------CARD----------- */
.card {
  background: rgb(251, 251, 251);
  margin: 8px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  border-radius: 10%;
}
.card h3 {
  margin: 7px;
  text-align: center;
}

.card p {
  margin: 5px;
  text-align: center;
}
.card img {
  max-width: 100%;
}

@media screen and (max-width: 612px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin: 16px auto;
    width: 100%;
    border-radius: 10px;
  }
}
/* -------------SIGNUP--------------- */
.sign-up {
  background: #e5e7eb;
  color: rgb(210, 136, 45);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-up form {
  border-radius: 15px;
  border: 1.5px solid #1a435598;
  width: 800px;
  background: rgba(255, 255, 255, 0.413);
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.sign-up form .input {
  border-radius: 5px;
  margin: 10px;
  height: 30px;
  border: none;
}

.form-btn {
  align-self: center;
  margin: 10px;
  height: 30px;
  width: 15%;
  cursor: pointer;
  border-radius: 1.5rem;
  border: none;
  color: rgb(255, 255, 255);
  background: #2c536470;
}

@media screen and (max-width: 870px) {
  .sign-up form {
    width: 100%;
  }
}
/* -------------Tcard---------------- */
.tcards {
  background: #e5e7eb;
  color: bisque;
  display: flex;
  flex-direction: column;
}
.tcards h1 {
  color: rgb(184, 142, 28);
  text-align: center;
}
.tlists {
  display: inline-block;
  display: flex;
  justify-content: space-around;
}
.tcard {
  background: rgb(234, 226, 226);
  margin: 8px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  border-radius: 8%;
}
.tcard-desc {
  padding: 3px 15px;
}
.tcard img {
  max-width: 40%;
  border-radius: 50%;
}
.tdown {
  display: flex;
}

@media screen and (max-width: 612px) {
  .tcards {
    flex-direction: column;
    align-items: center;
  }
  .tcard {
    margin: 16px auto;
    width: 100%;
    border-radius: 10px;
  }
}

/* ----------------FOOTER-------------- */
.footer {
  background: rgb(205, 158, 158);
  color: rgb(116, 71, 16);
  display: flex;
  justify-content: space-around;
}
.footer h1 {
  padding: 50px 0;
}
.footer p {
  text-align: center;
}

.copyright {
  background: rgb(205, 158, 158);
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

/*------------- line --------- */
.line {
  justify-content: center;
  padding-top: 3rem;
}

.line .small-line {
  width: 50rem;
  height: 2px;
  background: #c7c5c3;
  border-radius: 30%;
}

@media screen and (max-width: 900px) {
  .line .small-line {
    width: 40rem;
    display: flex;
  }
}

@media screen and (max-width: 900px) {
  .line .small-line {
    width: 20rem;
    display: flex;
  }
}
